/*!*h1{*!*/
/*!*  margin-top: 10px;*!*/
/*!*  text-align: center;*!*/
/*!*  color: darkslateblue;*!*/
/*!*  font-family: play;*!*/
/*!*  font-weight: bold;*!*/
/*!*  letter-spacing: 5px;*!*/
/*!*}*!*/
/*!*div{*!*/
/*!*  margin-top: 50px;*!*/
/*!*  text-align: center;*!*/
/*!*}*!*/

/*mat-drawer-container{*/
/*  height: 100%;*/

/*}*/
/*mat-drawer,mat-drawer-container{*/
/*  padding: 16px;*/
/*}*/
/*mat-drawer{*/
/*  background: aqua;*/
/*  width: 180px;*/
/*}*/
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

